@model Common.DTOs.BookDTO 

@{
    ViewData["Title"] = "Agregar Libro";
}
@{
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Agregar Libro</h1>

<form method="post" asp-action="Create">
    <div class="form-group">
        <label for="Title">Título</label>
        <input type="text" id="Title" name="Title" class="form-control" value="@Model.Title" required />
    </div>
    <div class="form-group">
        <label for="Author">Autor</label>
        <input type="text" id="Author" name="Author" class="form-control" value="@Model.Author" required />
    </div>
    <div class="form-group">
        <label for="Category">Categoría</label>
        <input type="text" id="Category" name="Category" class="form-control" value="@Model.Category" required />
    </div>
    <div class="form-group">
        <label for="Location">Ubicación</label>
        <input type="text" id="Location" name="Location" class="form-control" value="@Model.Location" required />
    </div>
    <div class="form-group">
        <label for="Availability">Disponibilidad</label>
        <select id="Availability" name="Availability" class="form-control" required>
            <option value="Disponible" @(Model.Availability == "Disponible" ? "selected" : "")>Disponible</option>
            <option value="No disponible" @(Model.Availability == "No disponible" ? "selected" : "")>No disponible</option>
        </select>
    </div>
    <p></p>
    <button type="submit" class="btn btn-success">Guardar Libro</button>
</form>