@model Common.DTOs.BookDTO
@{
    ViewData["Title"] = "Editar Libro";
}
@{
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Editar Libro</h1>

<form method="post" asp-action="Edit">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label for="Title">Título</label>
        <input type="text" id="Title" name="Title" class="form-control" value="@Model.Title" required />
    </div>
    <div class="form-group">
        <label for="Author">Autor</label>
        <input type="text" id="Author" name="Author" class="form-control" value="@Model.Author" required />
    </div>
    <div class="form-group">
        <label for="Category">Categoría</label>
        <input type="text" id="Category" name="Category" class="form-control" value="@Model.Category" required />
    </div>
    <div class="form-group">
        <label for="Location">Ubicación</label>
        <input type="text" id="Location" name="Location" class="form-control" value="@Model.Location" required />
    </div>
    <div class="form-group">
        <label for="Availability">Disponibilidad</label>
        <input type="checkbox" id="Availability" name="Availability" class="form-check-input" @(Model.Availability ? "checked" : "") />
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
